*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
/*------------------uperbar---------------*/
.UperBar {
    background-color: #15b315db;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5vh;
}
.UperBar .phone{
    color: gainsboro;
    font-weight: bold;
}
.UperBar .email{
    color: gainsboro;
    font-weight: bold;
}

.social-media span{
    margin-left: 10px;
}



/*------------------------navbar-------------------------*/
.NavBar{
    background: #02060e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;

}
.NavBar .fav-logo{
    font-weight: bold;
    font-size: 30px;
    color: #11f711db;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.fav-logo-img{
    background-image: url("/public/assets/logo.png");
    width: 50px;
    height: 50px;
    background-size: cover;
}
.navs{
    display: flex;
}

.navs a{
    list-style: none;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 40px;
    text-decoration: none;
}


/*------------------------Carousal-------------------------*/
.carousal{
    position: relative;
    height: 90vh;
}
.carousal .image{
    height: 90vh;
    background-image: url("/public/assets/smart-farming-smart-agriculture-iot.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.carousal .overlay{
    position: absolute; 
    width: 100%; 
    height: 90vh; 
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1; 
}
.carousal .body{
    position: absolute;
    top: 18vh;
    left: 160px;
    width: 500px;
    z-index: 2;
}
.carousal .body .text{
    font-weight: bold;
    color: #ffffffc4;
    font-size: 55px;
    text-transform: uppercase;
}
.carousal .body .btns{
    margin-top: 40px;
}
.carousal .body .btns :first-child{
    padding: 8px;
    color: aliceblue;
    font-size: 20px;
    margin-right: 25px;
    border-radius: 10px;
    text-decoration: none;
    background: linear-gradient(120deg, #6cbe03 40%, #f49e00 80%);
}

.carousal .body .btns :nth-child(2){
    padding: 8px;
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    background: linear-gradient(120deg, #6cbe03 40%, #31f400 80%);
}

/*--------------------------------*/
