*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
/*------------------uperbar---------------*/
.UperBar {
    background-color: #15b315db;
    padding: 0px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}

.UperBar .contacts{
    color: white;
    font-size: 14px;
}

.UperBar .contacts .phone{
    margin-right: 40px;
}

.UperBar .contacts .email{
    margin-right: 40px;
}



.UperBar .social-media > a{
    margin-left: 22px;
    font-size: 18px;
    color: white;
}



/*------------------------navbar-------------------------*/
.NavBar{
    background: #02060e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;

}
.NavBar .fav-logo{
    font-weight: bold;
    font-size: 28px;
    color: #11f711db;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.fav-logo-img{
    background-image: url("/assets/logo.png");
    width: 45px;
    height: 45px;
    background-size: cover;
}
.navs{
    display: flex;
}

.navs a{
    list-style: none;
    color: #e5e0e0;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 40px;
    text-decoration: none;
}


/*------------------------Carousal-------------------------*/
.carousal{
    position: relative;
    height: 90vh;
}
.carousal .image{
    height: 90vh;
    background-image: url("/assets/smart-farming-smart-agriculture-iot.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.carousal .overlay{
    position: absolute; 
    width: 100%; 
    height: 90vh; 
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1; 
}
.carousal .body{
    position: absolute;
    top: 18vh;
    left: 160px;
    width: 500px;
    z-index: 2;
}
.carousal .body .text{
    font-weight: bold;
    color: #ffffffc4;
    font-size: 43px;
    /* text-transform: capitalize; */
}
.carousal .body .btns{
    margin-top: 40px;
}

.carousal .body .btns a{
    padding: 13px;
    color: aliceblue;
    font-size: 18px;
    border-radius: 22px;
    text-decoration: none;
    background-color: #35a135;
    transition: all 0.3s ease-out 0s;
}

.carousal .body .btns a:hover{
    padding: 13px;
    color: #35a135;
    font-size: 18px;
    border-radius: 22px;
    text-decoration: none;
    background-color: white;
}


/*-------------------description-------------*/
.description{
    padding: 70px 130px;
    text-align: center;
}

.description .title{
    text-decoration: overline;
    color: #279b2b;
    text-decoration-color: #35a135;
    text-transform: capitalize;
    margin-bottom: 26px;
}

.description .content{
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
}

/*-------------------les services-------------*/
.services{
    padding: 60px  130px;
    text-align: center;
    background-color: #eaeef9;
    background-image: url("/public/assets/service_background.png");
    background-size: cover;
    background-position: bottom;
    margin-bottom: 150px;
}

.services > .title{
    text-decoration: overline;
    color: #279b2b;
    text-decoration-color: #35a135;
    text-transform: capitalize;
    margin-bottom: 26px;
}


/*///--------card-------///*/

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards .card{
    background: white;
    border-radius: 23px;
    text-align: center;
    margin: 10px 0px;
    width: 300px;
    border: 4px solid white;
    transition: all 0.3s ease-in-out 0s;
}

.cards .card:hover{
    border: 4px solid rgba(10, 197, 10, 0.61);
}

.card > img{
    width: 250px;
    border-radius: 50%;
    margin: 15px 16px;
    height: auto;
}

.card .body .title{
    text-transform: capitalize;
    font-size: 16px;
    margin: 10px 0px;
}
.card .body .text{
    margin: 10px 20px;
    line-height: 20px;
    font-size: 15px;
    color: grey;
}

.card .foot{
    margin: 20px 0px;
    display: block;
}


/*-------------footer------------*/

.footer{
    padding: 60px 100px 0px 100px;
    background-color: #161616;
}
.footer > hr{
    color: #bbbbbb;
}

/*------------upper foot-----------*/

.footer .upper-foot{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
}
.upper-foot .title{
    font-size: 22px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}
.upper-foot .body{
    color: #bbbbbb;
    line-height: 25px;
    padding-bottom: 30px;
}

.f-about-projet{
    width: 35%;
    margin: 0px 5px;
}

.f-about-projet .social-media > a{
    margin-right: 22px;
    font-size: 17px;
    color: #bbbbbb;
    border: 2px solid #2f2f2f;
    padding: 9px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    transition: all 0.3s ease-out 0s;
    display: inline-block;
}
.f-about-projet .social-media > a:hover{
    color: white;
    border: 2px solid #6cbe03;
    background-color: #6cbe03;
}

.body > a{
    display: block;
    color: #bbbbbb;
    text-decoration: none;
    margin-bottom: 5px;
    transition: all 0.3s ease-out 0s;
}
.body > a:hover{
    color: #6cbe03;
}

.f-quick-link{
    width: 13%;
    margin: 0px 5px;
}

.f-services{
    width: 12%;
    margin: 0px 5px;
}

.f-contact{
    margin: 0px 5px;
    width: 26%;
}
.f-contact  a i{
    color: #6cbe03;
    padding-right: 7px;
}

/*---------down-foot-----*/
.down-foot{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #111;
    margin-top: 57px;
    padding: 30px 0px !important;
}
.down-foot a{
    text-decoration: none;
    color: #727272;
    transition: all 0.3s ease-out 0s;
}
.down-foot a:hover{
    color: #6cbe03;
}